:root {
  --first-theme-color: rgb(240, 240, 240);
  --second-theme-color: rgb(217, 67, 56);
}
body {
  background-color: var(--second-theme-color);
  margin: 0;
}
header {
  background-color: var(--first-theme-color);
  color: var(--second-theme-color);
  position: fixed;
  width: 33%;
  height: 100vh;
}

h1 {
  padding: 10vh 0 72px 72px;
  font-size: 4rem;
}

header > div {
  padding: 72px;
}

main {
  color: var(--first-theme-color);
  margin-left: 33%;
  display: flex;
  flex-direction: column;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-container {
  margin: 50px;
  width: 50vw;
  height: 25vw;
}

.article-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-iframe {
  width: 100%;
  height: 100%;
}

.article-footer {
  text-align: end;
}

.fa-thumbs-up,
.fa-thumbs-down {
  cursor: pointer;
}

@media (max-width: 1260px) {
  header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 700px;
  }
  main {
    width: 100%;
    margin-top: 700px;
    margin-left: 0;
  }
  .article-container {
    margin: 50px;
    width: 75vw;
    height: 50vw;
  }
}

@media (max-width: 512px) {
  header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 900px;
  }
  h1 {
    padding: 10vh 0 36px 36px;
  }
  header > div {
    padding: 36px;
  }
  main {
    width: 100%;
    margin-top: 900px;
    margin-left: 0;
  }
  .article-container {
    margin: 50px;
    width: 75vw;
    height: 50vw;
    font-size: 0.7rem;
  }
}
