body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  font-size: 0.8rem;
}

header {
  height: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
}
svg {
  width: 50px;
}
.header-contents {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.header-contents > div {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section {
  margin-bottom: 80px;
}

.first-section {
  background-color: #f9dbbe;
}

.first-section,
.second-contents,
.fourth-contents {
  display: flex;
}
.first-section > img,
.second-section > .second-contents > img,
.fourth-section > .fourth-contents > img {
  width: 50%;
}

.first-section > div,
.second-contents > div,
.fourth-contents > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-section p,
.second-section p,
.fourth-section p {
  text-align: center;
  width: 440px;

  font-size: 1.5rem;
}

.second-contents {
  margin: 5vw;
  background-color: #f3ede8;
}
.third-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.third-contents {
  width: 70%;
  margin: 5vw;
  display: flex;
  justify-content: space-between;
}

.third-contents > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.third-contents img {
  width: 20vw;
}

.fourth-contents {
  margin: 5vw;
  background-color: #dee8e9;
}

.fifth-section {
  text-align: center;
}
.fifth-contents {
  margin: 5vw;
}

.sixth-contents {
  margin: 5vw;
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.sixth-contents > img {
  width: 100%;
  height: 40vw;
}

footer {
  background-color: #f3ede8;
  padding: 65px;
}
.footer-contents {
  display: flex;
  justify-content: space-around;
}
.footer-contents > div {
  flex-grow: 1;
  text-align: center;
}
.footer-contents > div:nth-last-child(1) {
  border-left: 1px solid black;
}
.footer-contents > div:nth-last-child(3) {
  border-right: 1px solid black;
}
.footer-contents > div > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-contents > div > ul > li {
  margin-bottom: 10px;
}

h4 {
  color: #9d9d9c;
}

.custom-btn {
  background: none;
  width: 20vw;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .first-section p,
  .second-section p,
  .fourth-section p {
    width: auto;
    font-size: 1rem;
  }
}
@media (max-width: 540px) {
  .first-section p,
  .second-section p,
  .fourth-section p,
  .custom-btn {
    width: auto;
    font-size: 0.7rem;
  }
}
